<div>
    <form action="">
        <div>
            <md-input-container class="md-icon-float">
                <!-- Use floating label instead of placeholder -->
                <!-- <label>Plan pentru</label> -->
                <md-icon md-font-icon="fa-calendar" class="fa fa-lg"></md-icon>
                <input date-range-picker ng-model="date" type="text" class="date-picker" name="date" options="opts" required aria-label="Alege intervalul &icirc;n care vrei s&#259; generezi planul" />
            </md-input-container>
        </div>
    </form>
</div>
