<div data-ng-controller="RecipesController as ctrl">

      <md-chips ng-model="autocomplete.selectedLabels"
      md-autocomplete-snap
      md-require-match="true">
        <md-autocomplete
            md-selected-item="autocomplete.selectedItem"
            md-search-text="autocomplete.searchText"
            md-items="item in autocomplete.querySearch(autocomplete.searchText)"
            md-item-text="item.name"
            md-selected-item-change="autocomplete.selectedItemChange(autocomplete.selectedItem)"
            md-search-text-change="autocomplete.searchTextChange(autocomplete.searchText)"
            md-min-length="0"
            md-select-on-match="true"
            placeholder="Criterii">
          <span md-highlight-text="autocomplete.searchText">{{item.display}} :: {{item.total}}</span>
        </md-autocomplete>
        <md-chip-template>
          <span>
            {{$chip.display}} <small>(<i>{{$chip.total}}</i>)</small>
          </span>
        </md-chip-template>
      </md-chips>

    <div layout="column" layout-margin layout-fill layout-padding ng-if="dailyPlans">
        <div flex>
            <div layout="row" layout-align="space-between center">
                <div layout="row" layout-align="space-between center">
                    <div ng-include="'/modules/planning/views/parts/calendar.dialog.client.view.html'"></div>
                    <div ng-if="!globalPlan.numberOfDays || !dailyPlans">
                        <md-button ui-sref="top.plan.detail({start_year: date.startDate.year(),
                         start_month: date.startDate.month() + 1,
                         start_day: date.startDate.date(),
                         end_year: date.endDate.year(),
                         end_month: date.endDate.month() + 1,
                         end_day: date.endDate.date()})" class="no-capitalize" aria-label="Schimb&#259; zilele">Schimb&#259; zilele</md-button>
                    </div>
                </div>
                <div>
                    <h2>
                        <a href="#list" class="link-no-highlight">
                            <i class="fa fa-cart-arrow-down"></i>
                        </a>
                    </h2>
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap layout-align="center start">
            <div class="g-hover-card  md-whiteframe-z2" ng-repeat="dailyPlan in dailyPlans | orderBy: '+date'">
                <div ng-include="'/modules/planning/views/parts/recipe.single.client.view.html'"></div>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="center start" layout-fill ng-if="noPlan" class="message-centered">
        <a data-ui-sref="top.generatePlan">
            <h3>Crează acum planul tău</h3> Durează 1 minut</a>
    </div>
</div>
