<div data-ng-controller="HeaderController" flex>
    <md-toolbar layout="row" layout-align="space-between center" class="header-toolbar" data-ng-controller="HomeController as ul" md-scroll-shrink>
        <!--The left side-->
<!--         <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Lista de retete">
            <md-icon md-font-icon="fa-bars" class="fa"></md-icon>
        </md-button> -->
        <div class="logobox" hide show-gt-sm layout="row" layout-align="start center">
            <div><img src="modules/core/img/brand/logo.png" alt="Logo"></div>
            <div class="title">
                <a href="/">
                    <h3>Plan de masa</h3>
                </a>
            </div>
        </div>
        <!--The right side-->
        <div layout="row" layout-align="center center">
            <div data-ng-show="authentication.user">
                <md-button aria-label="Planurile mele" ng-click="gotoRecipePlanning($state, interval)">
                    <md-icon><i class="mdi mdi-database"></i></md-icon>
                    <md-tooltip>
                        Planurile mele
                    </md-tooltip>
                </md-button>
            </div>
            <div data-ng-show="authentication.user">
                <md-button aria-label="Plan nou" data-ui-sref="top.generatePlan">
                    <md-icon><i class="mdi mdi-plus"></i> </md-icon>
                    <md-tooltip>
                        Plan nou
                    </md-tooltip>
                </md-button>
            </div>
            <div data-ng-hide="authentication.user" layout="row">
                <!--                 <md-button aria-label="Contul meu" data-ui-sref="authentication.signin">
                    <md-icon><i class="mdi mdi-account"></i></md-icon>
                    <md-tooltip>Contul meu</md-tooltip>
                </md-button> -->
                <md-button aria-label="Inregistrare" data-ui-sref="top.authentication.signup" class="md-accent md-hue-1">
                    <md-icon><i class="mdi mdi-account-star header-action"></i></md-icon>
                    <md-tooltip>&Icirc;nregistrare</md-tooltip>
                </md-button>
            </div>
            <div data-ng-show="authentication.user">
                <md-menu>
                    <md-button aria-label="Deschide meniul specific utilizatorului" class="md-raised md-primary menu-user" ng-click="$mdOpenMenu()">
                        <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" /> {{authentication.user.displayName}}
                    </md-button>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button aria-label="Planificarea re&#355;etelor" ng-click="gotoRecipePlanning($state, interval)">
                                <md-icon md-menu-origin><i class="mdi mdi-database"></i></md-icon>
                                Planul curent
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Istoricu planurilor" ng-click="gotoPlanHistory($state)">
                                <md-icon md-menu-origin><i class="mdi mdi-history"></i></md-icon>
                                Toate planurile
                            </md-button>
                        </md-menu-item>
                        <md-menu-divider></md-menu-divider>
                        <md-menu-item>
                            <md-button ng-click="gotoSettings($state)">
                                <md-icon md-menu-origin><i class="mdi mdi-account"></i></md-icon>
                                Contul meu
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Deconectare" href="/api/auth/signout" target="_self" layout="row" layout-align="start center">
                                <div>
                                    <md-icon md-menu-origin><i class="mdi mdi-logout"></i></md-icon>
                                </div>
                                <div>Deconectare</div>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </div>
    </md-toolbar>
</div>