<section class="row" data-ng-controller="ChangePasswordController" layout-padding>
    <md-input-container flex>
        <label>Parola curent&#259;</label>
        <input ng-model="passwordDetails.currentPassword" name="parola-curenta" autofocus>
    </md-input-container>
    <md-input-container flex>
        <label>Parola nou&#259;</label>
        <input ng-model="passwordDetails.newPassword" name="parola-noua" autofocus>
    </md-input-container>
    <md-input-container flex>
        <label>Parola nou&#259;, &#238;nc&#259; o dat&#259;</label>
        <input ng-model="passwordDetails.verifyPassword" name="parola-noua-verificare" autofocus>
    </md-input-container>
    <div layout="row" layout-align-sm="center center" layout-align="end start">
        <md-button type="submit" class="md-raised md-primary no-capitalize" ng-click="changeUserPassword()">Salveaz&#259; parola</button>
    </div>

    <div data-ng-show="success" class="text-center text-success">
        <strong>Password Changed Successfully</strong>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
    </div>
</section>
