<section data-ng-controller="EditProfileController" layout-padding>
    <div layout layout-sm="column">
        <md-input-container flex>
            <label>Prenume</label>
            <input ng-model="user.firstName" name="prenume" autofocus>
        </md-input-container>
        <md-input-container flex>
            <label>Nume</label>
            <input ng-model="user.lastName" name="nume">
        </md-input-container>
    </div>
    <md-input-container flex>
        <label>Email</label>
        <input ng-model="user.email" name="email">
    </md-input-container>
    <div layout="row" layout-align-sm="center center" layout-align="end start">
        <md-button type="submit" class="md-raised md-primary no-capitalize" ng-click="updateUserProfile(userForm.$valid)">Salveaz&#259; profil</button>
    </div>
    <div data-ng-show="success" class="text-center text-success">
        <strong>Profil salvat</strong>
    </div>
    <div data-ng-show="error" class="text-center text-danger">
        <strong data-ng-bind="error"></strong>
    </div>
</section>
