<section data-ng-controller="SettingsController" layout="column" flex layout-fill>
    <md-content class="settings">
        <section>
            <md-subheader class="md-primary">Setari generale</md-subheader>
            <div ng-include="'modules/users/views/settings/edit-profile.client.view.html'"></div>
        </section>
        <section>
            <md-subheader class="md-primary">Poza</md-subheader>
            <div ng-include="'modules/users/views/settings/change-profile-picture.client.view.html'" scope="" onload=""></div>
        </section>
        <section>
            <md-subheader class="md-primary">Parola</md-subheader>
            <div ng-include="'modules/users/views/settings/change-password.client.view.html'" scope="" onload=""></div>
        </section>
        <section>
            <md-subheader class="md-primary">Re&#x21B;ele sociale</md-subheader>
            <div ng-include="'modules/users/views/settings/manage-social-accounts.client.view.html'" scope="" onload=""></div>
        </section>
    </md-content>

    <!--     <div class="page-header">
        <h1>Set&#259;ri</h1>
    </div> -->
    <!-- <div> -->
    <!-- <md-content> -->
    <!--             <md-tabs md-dynamic-height md-border-bottom md-swipe-content>
                <md-tab label="Editeaz&#259; profilul" data-ui-sref="top.settings.profile" >
                    <div data-ui-view></div>
                </md-tab>
                <md-tab label="Schimb&#259; poza" data-ui-sref="top.settings.picture">
                    <div data-ui-view></div>
                </md-tab>
                <md-tab label="Schimb&#259; parola" data-ui-sref="top.settings.password">
                    <div data-ui-view></div>
                </md-tab>
                <md-tab label="Re&#x21B;ele sociale" data-ui-sref="top.settings.accounts">
                    <div data-ui-view></div>
                </md-tab>
            </md-tabs> -->
    <!-- </md-content> -->
    <!-- </div> -->
</section>
