<div data-ng-controller="AuthenticationController">
    <div>
        <form data-ng-submit="signin()" novalidate>
            <div layout="column" layout="start start">
                <div>
                    <md-input-container>
                        <input type="email" id="email" name="email" data-ng-model="credentials.email" placeholder="Email">
                    </md-input-container>
                </div>
                <div>
                    <md-input-container>
                        <input type="password" id="password" name="password" data-ng-model="credentials.password" placeholder="Parola">
                    </md-input-container>
                </div>
                <div layout="row" layout="space-between center">
                    <div>
                        <md-button class="md-primary md-raised no-capitalize action-button" type="submit" aria-label="">Intr&#259; &icirc;n cont</md-button>
                    </div>
                    <div>
                        <md-button class="md-primary md-raised md-hue-1 no-capitalize second-action-button" data-ui-sref="authentication.signup" aria-label="Creaz&#259; un cont nou">Creaz&#259; un <br>cont nou</md-button>
                    </div>
                </div>
                <div class="md-accent">
                    <a data-ui-sref="password.forgot">Mi-am uitat parola</a>
                </div>
                <div data-ng-show="error" class="text-center text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </div>
        </form>
    </div>
</div>
