<div layout="column" layout-align="start center">
    <div layout="row" layout-align="space-between center">
        <div ng-include="'/modules/planning/views/parts/calendar.dialog.client.view.html'"></div>
        <div ng-if="!globalPlan.numberOfDays || !dailyPlans">
            <md-button ng-click="generatePlan(date, globalPlan, dailyPlans, RandomRecipeService)" class="md-raised md-primary no-capitalize" aria-label="Genereaz&#259; planul">Genereaz&#259; planul</md-button>
        </div>
        <div ng-if="globalPlan.numberOfDays && dailyPlans">
            <md-button ng-click="regeneratePlan(dailyPlans, RandomRecipeService)" class="no-capitalize" aria-label="Regenereaz&#259; planul">Regenereaz&#259; planul</md-button>
            <md-button ng-click="savePlan(date, dailyPlans, RecipeService, mdToast, state)" class="md-raised md-primary no-capitalize" aria-label="Gata">Gata
            </md-button>
        </div>
    </div>
    <div ng-if="dailyPlans" layout="row" layout-wrap layout-align="center start">
        <div ng-repeat="dailyPlan in dailyPlans track by $index| orderBy: '+date'" layout="column" layout-wrap layout-align="center start" class="g-hover-card  md-whiteframe-z2">
            <div ng-include="'/modules/planning/views/parts/recipe.single.client.view.html'"></div>
        </div>
    </div>
    <div ng-if="!globalPlan.numberOfDays || !dailyPlans" class="action-comment">
        Re&#x21B;etele deja salvate nu vor fi modificate
    </div>
</div>
